<dl class='metadata-block'>
  {% for item in include.meta %}
    {% if item.value contains 'page.' %}
      {% assign key = item.value | remove: 'page.' %}
      {% assign value = page[key] %}
    {% else %}
      {% assign value = item.value %}
    {% endif %}

    {% comment %}
    Only display non-empty values
    {% endcomment %}
    {% if value | strip != '' %}
      {% if item.label == 'Sezione mostra' and page.exhibit_url %}
        {%- capture value -%}
          <a href="{{ page.exhibit_url | relative_url }}">{{ value }}</a>
        {%- endcapture -%}
      {% elsif item.type == 'link' %}
        {% if key == 'manifest' %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">{{ value | absolute_url }}</a>
          {%- endcapture -%}
        {% elsif key == 'exhibit_url' %}
          {%- capture value -%}
            <a href="{{ value | relative_url }}">{{ page.exhibit_section | default: 'Apri la sezione nella mostra' }}</a>
          {%- endcapture -%}
        {% else %}
          {%- capture value -%}
            <a href="{{ value | absolute_url }}" target="_blank" rel="noreferrer">
              {{ value | absolute_url | remove: 'https://' | remove: 'http://' | split: "/" | first }}
            </a>
          {%- endcapture -%}
        {% endif %}
      {% endif %}
        <dt>{{ item.label }}</dt>
        <dd>{{ value | strip }}</dd>
    {% endif %}
  {% endfor %}
</dl>
