---
layout: generic_collection_item
pagination: true
iiif_ready: false
meta:
  - label: 'PID'
    value: page.pid
  - label: 'Titolo'
    value: page.label
  - label: 'Tipologia'
    value: page.object_type
  - label: 'Tipo di contenuto digitale'
    value: page.media_type
  - label: 'Creatore'
    value: page.creator
  - label: 'Data'
    value: page.display_date
  - label: 'Luogo'
    value: page.place
  - label: 'Archivio / istituto'
    value: page.repository
  - label: 'Riferimento'
    value: page.reference
  - label: 'Consistenza'
    value: page.extent
  - label: 'Soggetti'
    value: page.subjects
  - label: 'Soggettario / thesaurus'
    value: page.subject_vocabularies
  - label: 'Descrizione'
    value: page.description
  - label: 'Diritti'
    value: page.rights
  - label: 'Licenza'
    value: page.license
    type: link
  - label: 'Collocazione attuale'
    value: page.current_location
  - label: 'Sezione mostra'
    value: page.exhibit_section
  - label: 'IIIF Manifest'
    value: page.manifest
    type: link
---
